.registerForm {
  display: flex;
  flex-direction: column;
}

.registerForm fieldset {
  border: none;
  padding: 0;
  margin: 1rem 0;
}

.registerInput {
  outline: none;
  padding: 0.25rem;
  margin-left: 0.75rem;
}

