.imageKeyContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1rem;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
}

.imageKey {
  display: flex;
  flex-direction: column;
  margin: 0 0.5rem;
}

.imageLabel {
  font-size: 0.75rem;
}
